.auth-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #29B2DD;

    .left-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex: 1;
        margin-top: -40px;

        .title {
            font-size: 58px;
            color: #fff;
            margin: 0;
            margin-top: -60px;
            .light {
                color: #fdb927;
            }

            @media screen and (max-width: 750px) {
                font-size: 38px;
            }
        }
    }

    .right-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex: 2;
        border-radius: 40px 0 0 40px;
    }

    .icon {
        width: 300px;
        @media screen and (max-width: 750px) {
            width: 120px;
        }
    }

    @media screen and (max-width: 1200px) {
        width: inherit;
        flex-direction: column;
        .left-content {
            flex-direction: row;
            margin: -40px 0;
            .title {
                margin: 0;
            }
        }
        .right-content {
            flex: 3;
            border-radius: 40px 40px 0 0;
        }
    }
}