.widget-container {
    width: 100%;
    padding: 25px;
    .widget-icon {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        .icon {
            display: flex;
            border-radius: 15px;
            background-color: #2ab2dd;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;

            img {
                height: 20px;
            }
        }
    }
    .widget-info-text {
        font-size: 20px;
        font-weight: 600;
    }

    &.small{
        display: flex;
        gap: 10px;
        flex: 1 0 250px;
        .widget-content{
            display: flex;
            flex-direction: column;
        }
    }
}