.tooltip_custom {
    display: flex;
    flex-direction: column;
    width: 60px;

    .temp {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fdb927;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
    }
}