.weather-daily-widget {
    display: flex;
    gap: 10px;
    justify-content: center;

    .wether-daily-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .icon {
            width: 50px;
        }

        cursor: pointer;
        transition: .3s;

        &.active,
        &:hover {
            background-color: #fdc7520d;
            color: #fdb926;
        }
    }
    @media screen and (max-width: 740px) {
        flex-wrap: wrap;
    }
}
