.auth-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #32308d;
    .left-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex: 1;
        margin-top: -40px;
        .title {
            font-size: 58px;
            color: #fff;
            margin: 0;
            margin-top: -60px;
            .light {
                color: #fdb927;
            }
        }
    }

    .right-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex: 2;
        border-radius: 40px 0 0 40px;
    }

    .icon {
        width: 300px;
    }
}